{% extends 'main/main.html' %}
{% block title %}
    Create Task
        {% endblock title %}
{% block content %}

    <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
<div class="form-group" >
  <label class="col-form-label col-form-label-lg" for="inputLarge"></label>
  <input class="form-control form-control-lg" type="text" placeholder="Title" id="inputLarge">
</div>
           <div class="form-group">
      <label for="exampleTextarea">Example textarea</label>
      <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Description"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
{% endblock content %}