{% extends 'main/main.html' %}
{% block title %}
    Task List
        {% endblock title %}
{% block content %}
<h1> ToDo</h1>
<br>
{% if request.user.is_authenticated %}
<p> {{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <br>
{% endif %}
<br>
 <a href="{% url 'task_create' %}" >Create task</a>
<form method="get">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Search">
</form>
    <table>
        <tr>
            <th>
                Item
            </th>
        </tr>
        <tr>
            <th>

            </th>
        </tr>

        {% for task in taski %}

        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
             <div class="toast-header">
            <a href="{% url 'task_update' task.id %}">
                <strong class="mr-auto"><p class="mb-0"> {{ task.title }}</p></strong>
            </a>
            <small> {{ task.created }}</small>
            <a href="{% url 'task_delete' task.id %}">
                 <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
                </a>
            </div>
            <a href="{% url 'task' task.id %}">
                <div class="toast-body">
                    {{ task.description }}
                 </div>
            </a>
        </div>




                        {% empty %}
            <h3> no item in list</h3>
        {% endfor %}
    </table>

{% endblock content%}




