{% extends 'main/main.html' %}
{% block title %}
    Delete Task
        {% endblock title %}
{% block content %}

    <form method="post" action="">
        {% csrf_token %}
    <blockquote class="blockquote text-center">
        <p class="mb-0">You wont to delete:<cite title="Source Title"> {{ taski }}</cite></p>
         <footer class="blockquote-footer">this action cannot be undone</footer>
        <button type="submit" value="delete" class="btn btn-primary">Delete</button>
    </blockquote>


    </form>


{% endblock content %}