{% extends 'main/main.html' %}
{% block title %}LogIn
        {% endblock title %}
{% block content %}
<h1>Login</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-group">

      <input type="text"  maxlength="150" class="form-control" required id="id_username" name="username" placeholder="Enter login" autocomplete="username">

    </div>
    <div class="form-group">

      <input type="password" name="password" autocomplete="current-password" class="form-control" required id="id_password" placeholder="Password">
    </div>


    <button type="submit" value="Login" class="btn btn-primary">Login</button>
    <b>Don't have an account?<a href="{% url 'register' %}">register</a> </b>
</form>
{% endblock content %}