{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<link rel="stylesheet" href="{% static 'main.css' %}">
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'tasklist' %}">To Do</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tasklist' %}">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tasklist' %}">About</a>
      </li>
    </ul>



    {% if request.user.is_authenticated %}

        <form class="form-inline my-2 my-lg-0">
      <input type="text" placeholder="Search" name="search-area" value="{{ search_input }}">
<button   class="btn btn-primary">Hello, {{ request.user }}</button>

    <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">LogOut</button> </a>
    {% else %}
    <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary">Login</button></a>
    <br>
{% endif %}



    </form>

  </div>
</nav>
 {% block content %}
{% endblock content %}


</body>
</html>